@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

* {
	 -webkit-font-smoothing: antialiased;
	 color: #acbdce;
}

:root {
	 --border-radius: 10px;
}
 
body, html {
	 background: #e2e9f4;
	 display: grid;
}

i {
  padding: 2%;
}

code {
  border-width: 1px;
  border-style: inset;
  border-radius: 15px;
  padding: 2%;
  border-color: linear-gradient(-67deg, rgba(200, 216, 231, .7), rgba(255, 255, 255, .8));
  font-family: "Orbitron", sans-serif;
  /* display: block; */
  color: #3c4b66;
}

.Grid {
	 grid-template-columns: 33% 33% 33%;
   gap: 5px;
}

@media (max-width: 500px) {
  body > * {
    border: 1px solid red;
  }
  .Grid {
    grid-template-columns: 100%;
    gap: 2px;
    display: block;
  }
}

.Center-items {
	 grid-template: 1fr/100%;
}

.Center {
  margin: auto auto;
  translate: 0% 50%;
}

.Card {
	 padding: 1px;
	 border-radius: var(--border-radius);
	 background: linear-gradient(-67deg, rgba(200, 216, 231, .7), rgba(255, 255, 255, .8));
	 overflow: hidden;
	 box-shadow: -2px -2px 6px rgba(255, 255, 255, .6), 2px 2px 12px #c8d8e7;
	 width: 380px;
}
 
.CardInner {
	 padding: 16px 16px;
	 background-color: #e2e9f4;
	 border-radius: var(--border-radius);
}
 
.container {
	 display: flex;
}
 
.Icon {
	 min-width: 46px;
	 min-height: 46px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 border-radius: var(--border-radius);
	 margin-right: 12px;
	 box-shadow: -2px -2px 6px rgba(255, 255, 255, .6), 2px 2px 12px #c8d8e7;
}
 
.Icon svg {
	 transform: translate(-1px, -1px);
}
 
label {
	 font-family: "Hind", sans-serif;
	 display: block;
	 color: #3c4b66;
	 margin-bottom: 12px;
	 background: linear-gradient(45deg, rgba(107, 123, 143, 1), #3c4b66);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}


.Header {
	 font-family: "Orbitron", sans-serif;
   text-align: center;
	 display: block;
	 color: #3c4b66;
}

.Info {
	 font-family: "Hind", sans-serif;
	 display: block;
	 color: #3c4b66;
}

 
.InputContainer {
	 width: 100%;
}
 
input {
	 background-color: #e3edf7;
	 padding: 16px 32px;
	 border: none;
	 display: block;
	 font-family: 'Orbitron', sans-serif;
	 font-weight: 600;
	 color: #a9b8c9;
	 -webkit-appearance: none;
	 transition: all 240ms ease-out;
	 width: 100%;
}
 
input::placeholder {
	 color: #6d7f8f;
}

input:focus {
	 outline: none;
	 color: #6d7f8f;
	 background-color: #eff5fa;
}
 
.InputContainer {
	 --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
	 --bottom-shadow: inset -2px -2px 4px rgba(255, 255, 255, .7);
	 position: relative;
	 border-radius: var(--border-radius);
	 overflow: hidden;
}
 
.InputContainer:before, .InputContainer:after {
	 left: 0;
	 top: 0;
	 display: block;
	 content: "";
	 pointer-events: none;
	 width: 100%;
	 height: 100%;
	 position: absolute;
}
 
.InputContainer:before {
	 box-shadow: var(--bottom-shadow);
}
 
.InputContainer:after {
	 box-shadow: var(--top-shadow);
}
 

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background: linear-gradient(-67deg, rgba(200, 216, 231, .7), rgba(255, 255, 255, .8));
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-family: "Orbitron", sans-serif;
  text-align: center;
  color: #3c4b66;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 
