

html, body {
  width: 100%;
  height: 100%;
}

.no-flow {
  overflow: hidden;
}

.flow-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2d2d2d;
  letter-spacing: 0.2px;
  background-image: 
  url('https://img.freepik.com/free-vector/abstract-geometric-pattern_1319-110.jpg?w=740&t=st=1715503724~exp=1715504324~hmac=0c510c9538fbb5ce0ecf6c8257d6bef4796e2c16f048f36a493fa089616f6117')
  ;
  /* Search Active */
}
body.search-active {
  overflow: hidden;
}
body.search-active .search-input {
  opacity: 1;
  transform: none;
  pointer-events: all;
}
body.search-active .icon-close {
  opacity: 1;
  transform: rotate(-90deg);
}
body.search-active .control {
  cursor: default;
}
body.search-active .control .btn-material {
  transform: scale(70);
}
body.search-active .control .icon-material-search {
  opacity: 0;
}
/* Close Icon */
.icon-close {
  position: fixed;
  top: 30px;
  right: 30px;
  color: #FFF;
  cursor: pointer;
  font-size: 70px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.icon-close:hover {
  transform: rotate(0);
}
/* Search Input */
.search-input {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -40px;
  pointer-events: none;
  opacity: 0;
  transform: translate(40px, 0);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.search-input input {
  color: #fff;
  font-size: 54px;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  box-sizing: border-box;
  outline: 0;
  font-weight: 200;
}
.search-input ::-webkit-input-placeholder {
  color: #EEE;
}
.search-input :-moz-placeholder {
  color: #EEE;
  opacity: 1;
}
.search-input ::-moz-placeholder {
  color: #EEE;
  opacity: 1;
}
.search-input :-ms-input-placeholder {
  color: #EEE;
}
/* Container */
.container {
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  margin-right: 1.5%;
  z-index: 2;
}

.container.container-dark {
  /* background: #22313F; */
  color: #FFF;
  background-image: linear-gradient(90deg, rgb(210, 184, 131) 50%, rgba(0, 0, 0, 0.73)),
  url('https://img.freepik.com/free-vector/abstract-geometric-pattern_1319-110.jpg?w=740&t=st=1715503724~exp=1715504324~hmac=0c510c9538fbb5ce0ecf6c8257d6bef4796e2c16f048f36a493fa089616f6117')
  ;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(190deg, rgb(210, 184, 131) rgba(0, 0, 0, 0.73));
  display: grid;
  grid-template-columns: 70% 30%; 
}

/* Control btn */
.control {
  cursor: pointer;
}
.control .btn-material {
  position: absolute;
  top: -30px;
  width: 60px;
  height: 60px;
  right: 60px;
  border-radius: 100%;
  box-sizing: border-box;
  background: rgb(210, 184, 131);
  outline: 0;
  transform-origin: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.control .btn-material:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.control .icon-material-search {
  color: #FFF;
  position: absolute;
  top: -10px;
  right: 78px;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}
/* Utilities */
.p-y-md {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}
/* Typo */
h1, h2 {
  font-weight: 300;
}

.corner {
  position: fixed;
  float: right;
  border: 1px solid black;
  padding: 1em;
  background-color: #FFF;
  margin-left: 86vw;
  margin-top: 29vh;
  border-radius: 10px 10px 0px 0px;
  z-index: 1;
}

.larry {
  width: 40%;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-image: linear-gradient(90deg, rgb(210, 184, 131) 50%, rgba(0, 0, 0, 0.73)),
  url('https://img.freepik.com/free-vector/abstract-geometric-pattern_1319-110.jpg?w=740&t=st=1715503724~exp=1715504324~hmac=0c510c9538fbb5ce0ecf6c8257d6bef4796e2c16f048f36a493fa089616f6117');
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 6; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-family: "Orbitron", sans-serif;
  text-align: center;
  color: #3c4b66;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 

